{% extends 'base.html' %}
{% block content %}
<script src="https://accounts.google.com/gsi/client?hl=fr" async></script>
<form method="post" class="mt-12 max-w-fit p-7 mx-auto bg-[var(--secondary)] rounded-xl text-white">
    {% if success %}
    <p class="text-[var(--success)] text-xl mb-3">Registration successful! Please log in.
        <br>Username: {{ username }}
    </p>
    {% elif success == False %}
    <p class="text-[var(--danger)] text-xl">Wrong username/password.</p>
    {% endif %}
    {% csrf_token %}

    <!-- https://docs.djangoproject.com/en/5.2/topics/forms/#customizing-the-form-template -->
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
    <label class="text-white" for="{{ field.auto_id }}">{{ field.label_tag }}</label> {{ field }}<br>
    {% endfor %}

    <button type="submit" class="block py-1 px-2 bg-gray-200 text-black mt-6 mb-2 rounded mx-auto">Submit</button>
</form>
<div class="text-center mt-6">
    <a href="{% url 'login_with_google' %}"
        class="text-center inline-flex items-center gap-2 px-4 py-2 text-sm font-semibold text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm hover:bg-gray-100 focus:outline-none focus:bg-[var(--secondary)]">
        {% load static %}
        <img class="w-5 h-5" src="{% static 'myauth/icons/google.svg' %}" alt="Google logo">
        Sign in with Google
    </a>
</div>
{% endblock %}
